[Desktop Entry]
Type=Application
Version=0.6
Name=Facilino
Comment=Visual Programming Environment for DYOR
Icon=/usr/share/facilino/icons/icon.png
Exec=facilino %f
TryExec=facilino
Categories=Education;Development;
StartupNotify=true
Terminal=false
